/* 태블릿 */
@media (max-width : 760px) {
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80vw;
        height: 500px;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        z-index: 31;
        background-color: rgb(255, 255, 255);
    }

    .modal .color {
        left: 37vw;
    }

    .modal input {
        font-size: 1.8vw;
    }
}

@media (max-width : 600px) {
    .modal {
        width: 80vw;
    }

    .modal .color {
        left: 28vw;
    }

    .modal h1 {
        font-size: 6vw;
    }

    .modal input {
        font-size: 2.5vw;
    }

    .modal .project-color-tag  {
        position: absolute;
        top: 12%;
    }

    .modal .modal-p1 {
        font-size: 3vw;
    }

    .modal .modal-p2 {
        font-size: 3vw;
    }
}

/* 모바일 */
@media (max-width : 360px) {
    .modal {
        min-width: 10%;
        height: 350px;
    }

    .modal .color {
        position: absolute;
        top: 20%;
        left: 1vw;
    }

    .modal input {
        font-size: 3vw;
    }

    .modal .project-color-tag  {
        position: absolute;
        top: 40px;
    }

    .modal .create {
        font-size: 5vw;
    }

    .modal .cancel {
        font-size: 5vw;
    }

    .modal .project-color-tag {
        position: absolute;
        width: 7vw;
        height: 7vw;
        top: 12%;
    }

    .modal .palette img {
        width: 7vw;
        height: 7vw;
    }
}