@media (max-width : 760px) {
    .main-content {
        top: 206px;
        left: 0;
        margin : -73px 0 0 40px;
    }

    .main-content .tag {
        width: 100%;
      }

      .viwer {
        width: 90vw;
    }

    .viwer img {
        width: 70vw;
    }

    .menu-container {
        margin-right: 0px;
    }

    .menu-container .menu {
        right: 20%;
    }
}

@media (max-width : 600px) {
    .viwer {
        width: 85vw;
    }

    .main-content .tag {
        width: 85vw;
    }

    .menu-icon {
        position: relative;
        left: 12vw;
    }
}

@media (max-width : 360px) {
    .viwer {
        width: 90%;
    }

    .main-content .tag {
        width: 90%;
    }

    .menu-icon {
        position: relative;
        left: 55px;
    }
}