@media (max-width : 760px) {
    .groupcontents {
        width : 100%;
    }

    .not-group {
        left: 35%;
    }
}

@media (max-width : 500px) {
    .not-group {
        left: 30vw;
    }

    .contents p {
        font-size: 4vw;
    }

    .main h2 {
        font-size: 6vw;
    }
}

@media (max-width : 360px) {
    .not-group {
        left: 20%;
    }

    .contents p {
        font-size: 13px;
    }

    .main h2 {
        font-size: 20px;
    }

    .group-menus {
        left: 10%;
    }
}