@media (max-width : 910px) {
    .main .title {
        top: 26px;
        font-size: 20px;
    }
}


@media (max-width : 790px) {
    .main .title {
        top: 26px;
        font-size: 18px;
    }
}

@media (max-width : 760px) {
    .groupcontents {
        width : 100%;
    }

    .not-group {
        left: 35%;
    }
}

@media (max-width : 500px) {
    .not-group {
        left: 30vw;
    }

    .contents p {
        font-size: 4vw;
    }
}

@media (max-width : 360px) {
    .not-group {
        left: 20%;
    }

    .contents p {
        font-size: 13px;
    }

    .main .title {
        top: 26px;
        font-size: 20px;
    }

    .group-menus {
        left: 10%;
    }
}

@media (max-width : 320px) {
    .not-group {
        left: 20%;
    }

    .contents p {
        font-size: 13px;
    }

    .main .title {
        top: 26px;
        font-size: 17px;
    }

    .group-menus {
        left: 10%;
    }
}