@media (max-width : 760px) {
    .homepage {
        width : 100%;
    }
}

@media (max-width : 650px) {
    .content-box .content-container {
        width: 600px;
    }
}

@media (max-width : 600px) {
    .content-box .content-container {
        width: 100vw;
    }

    .tag {
        width: 100%;
    }

    .addmemo {
        position: relative;
        left: 5%;
    }
}

@media (max-width : 360px) {
    .content-box .content-container {
        width: 100%;
    }

    .tag {
        width: 100%;
    }

    .addmemo {
        position: relative;
        left: 20%;
    }

    .none-memo {
        font-size: 8vw;
    }
}

@media (max-width : 255px) {
    .addmemo {
        left: 27%;
    }
}