@media (max-width : 760px) {
    .searchpage .alert {
        left: 30%;
    }
}

@media (max-width : 500px) {
    .searchpage .alert {
        left: 23vw;
    }
}

@media (max-width : 360px) {
    .searchpage .alert {
        left: 13%;
    }

    .searchpage .alert p {
        font-size: 8vw;
    }
}