@media (max-width : 760px) {
    .select-container {
        width: 600px;
    }
}

@media (max-width : 600px) {
    .select-modal {
        width: 80vw;
    }
}

@media (max-width : 360px) {
    .select-modal {
        width: 80%;
    }
}