@media (max-width : 760px) {
    .writepage {
        margin : -73px 0 0 0;
        height: 81vh;
        position : relative;
        top : 175px;
        left: 30px;
        width : 90%;
        height : 100%;
    }

    .writepage input {
        width: 400px;
        height: 30px;
        outline: none;
        margin-bottom: 30px;
    }

    .editor {
        width: 90%;
    }
}

@media (max-width : 600px) {

    .writepage input {
        width: 300px;
        height: 30px;
    }

    .editor {
        width: 90%;
    }
}

@media (max-width : 410px) {

    .writepage .submit {
        top: 85px;
    }
}

@media (max-width : 390px) {

    .writepage input {
        width: 60vw;
        height: 30px;
        font-size: 3.2vw;
    }

    .editor {
        width: 84vw;
    }

    .writepage .inputs .inputs-p1, .inputs-p2 {
        font-size: 4vw;
    }
}

@media (max-width : 340px) {

    .writepage .submit {
        top: 85px;
    }
}